USE [master]
GO
/****** Object:  Database [db_CAD]    Script Date: 21/08/2026 10:03:47 PM ******/
CREATE DATABASE [db_CAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_CAD', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\db_CAD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_CAD_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\db_CAD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_CAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_CAD]
GO
USE [db_CAD]
GO
/****** Object:  Sequence [dbo].[seq_eDOC]    Script Date: 21/08/2026 10:03:47 PM ******/
CREATE SEQUENCE [dbo].[seq_eDOC] 
 AS [int]
 START WITH 10
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [db_CAD]
GO
/****** Object:  Sequence [dbo].[seq_eDOC_dd]    Script Date: 21/08/2026 10:03:47 PM ******/
CREATE SEQUENCE [dbo].[seq_eDOC_dd] 
 AS [int]
 START WITH 10
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  StoredProcedure [dbo].[Eusp_DocList_View_Profile]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC usp_DocList_View_Profile 'Part',200263313

--drop procedure EXEC_usp_DocList_View_Profile
CREATE procedure  [dbo].[Eusp_DocList_View_Profile]
(
	@customer_type varchar(100)=null
	,@cus_id int=null
	--,@drawdown_id int=null
)

as

declare
	@sqlstr varchar(8000)

	set @sqlstr='

	/*GENERAL DOCUMENTS*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList] l  
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where ' +
	@customer_type+'<>''N/A'''+
' and category=''GENERAL DOCUMENTS'''+ '

order by 
	SL asc 
/*MORTGAGE OF PROPERTIES*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]  l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
' and category=''MORTGAGE OF PROPERTIES''' +'
 
order by 
	SL asc 
	
/*LIABILITY TAKE OVER FROM OTHER BANKS*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]   l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LIABILITY TAKE OVER FROM OTHER BANKS''' +'
 
order by 
	SL asc 

/*HYPOTHECATION OF STOCK/ MACHINERY & EQUIPMENT/ RECEIVABLES*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''HYPOTHECATION OF STOCK/ MACHINERY & EQUIPMENT/ RECEIVABLES'''+' 
 
order by 
	SL asc 


/*PLEDGE OF SHARES*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''PLEDGE OF SHARES'''+'
 
order by 
	SL asc 



/*ASSIGNMENT*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''ASSIGNMENT'''+'
 
order by 
	SL asc 



/*LIEN*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LIEN''' +'
 
order by 
	SL asc 


/*SET-OFF*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''SET-OFF'''+'

order by 
	SL asc 



/*CHARGE WITH RJSC*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''CHARGE WITH RJSC'''+'

order by 
	SL asc 	

	
/*SYNDICATION*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''SYNDICATION'''+'

order by 
	SL asc 	
	
	
/*INSURANCE POLICY*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''INSURANCE POLICY'''+'

order by 
	SL asc 	

	
/*UNDERTAKING*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''UNDERTAKING'''+'

order by 
	SL asc 	

	
/*LETTER OF GUARANTEE*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LETTER OF GUARANTEE'''+'

order by 
	SL asc 	

	
/*IDBP/ FDBP*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''IDBP/ FDBP'''+'

order by 
	SL asc 




/*OTHER DOCUMENTS*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''OTHER DOCUMENTS'''+'

order by 
	SL asc 



'


--print @sqlstr
exec (@sqlstr)
 

/*Customer Deatils :  */

select * from t_CustomerInfo where cus_code=@cus_id



GO
/****** Object:  StoredProcedure [dbo].[EXEC usp_DocList_View_Profile]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC usp_DocList_View_Profile 'Part',72,33

CREATE procedure  [dbo].[EXEC usp_DocList_View_Profile]
(
	@customer_type varchar(100)=null
	,@cus_id int=null
	--,@drawdown_id int=null
)

as

declare
	@sqlstr varchar(8000)

	set @sqlstr='

	/*GENERAL DOCUMENTS*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList] l  
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where ' +
	@customer_type+'<>''N/A'''+
' and category=''GENERAL DOCUMENTS'''+ '

order by 
	SL asc 
/*MORTGAGE OF PROPERTIES*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]  l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
' and category=''MORTGAGE OF PROPERTIES''' +'
 
order by 
	SL asc 
	
/*LIABILITY TAKE OVER FROM OTHER BANKS*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]   l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LIABILITY TAKE OVER FROM OTHER BANKS''' +'
 
order by 
	SL asc 

/*HYPOTHECATION OF STOCK/ MACHINERY & EQUIPMENT/ RECEIVABLES*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''HYPOTHECATION OF STOCK/ MACHINERY & EQUIPMENT/ RECEIVABLES'''+' 
 
order by 
	SL asc 


/*PLEDGE OF SHARES*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''PLEDGE OF SHARES'''+'
 
order by 
	SL asc 



/*ASSIGNMENT*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''ASSIGNMENT'''+'
 
order by 
	SL asc 



/*LIEN*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LIEN''' +'
 
order by 
	SL asc 


/*SET-OFF*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''SET-OFF'''+'

order by 
	SL asc 



/*CHARGE WITH RJSC*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''CHARGE WITH RJSC'''+'

order by 
	SL asc 	

	
/*SYNDICATION*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''SYNDICATION'''+'

order by 
	SL asc 	
	
	
/*INSURANCE POLICY*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''INSURANCE POLICY'''+'

order by 
	SL asc 	

	
/*UNDERTAKING*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''UNDERTAKING'''+'

order by 
	SL asc 	

	
/*LETTER OF GUARANTEE*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LETTER OF GUARANTEE'''+'

order by 
	SL asc 	

	
/*IDBP/ FDBP*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''IDBP/ FDBP'''+'

order by 
	SL asc 




/*OTHER DOCUMENTS*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''OTHER DOCUMENTS'''+'

order by 
	SL asc 



'


--print @sqlstr
exec (@sqlstr)
 

/*Customer Deatils :  */

select * from t_CustomerInfo where cus_code=@cus_id



GO
/****** Object:  StoredProcedure [dbo].[usp_Checklist_Compress]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC usp_Checklist_Compress '100052469',1,'PVT','OD,CC,EMFS,HBL,HP,SF','FI,PG,CG,TR,Assignment'


CREATE procedure [dbo].[usp_Checklist_Compress]
(


  @primary_cus_id  VARCHAR(1000)
 ,@dd_id int
 ,@Search_CUS  VARCHAR(1000)
 ,@Search_LOAN VARCHAR(1000)
 ,@Search_COLL VARCHAR(1000)




)

as

/*
DECLARE @Search_CUS  VARCHAR(1000) = 'PVT';
DECLARE @Search_LOAN VARCHAR(1000) = 'OD,CC,EMFS,HBL,HP,SF';
DECLARE @Search_COLL VARCHAR(1000) = 'FI,PG,CG,TR,Assignment';
*/

--drop  table t_Drawdown_Document_Master
--truncate table t_Drawdown_Document_Master
--select * from t_Drawdown_Document_Master order by doc_type_sl asc,convert(int,SL) asc

delete t_Drawdown_Document_Master  where dd_id=@dd_id

Insert into t_Drawdown_Document_Master

select 
	@primary_cus_id primary_cus_id
	,@dd_id dd_id
	,d.* 
	,t.doc_key doc_type_key
	,t.sl doc_type_sl
	,t.name doc_type_name
	,getdate() create_date
	,'Test' create_by
	--,cus_type
	--,loan_nature
	--,coll_type
	--,common
--into
	--t_Drawdown_Document_Master
from 
(

-- Customer Related
SELECT DISTINCT
    t.primary_key,
    t.Sl,
    t.name,

	[required]
      ,[status]
      ,[reason]
      ,[expiry]
      ,[remarks],

    'Customer Related' AS doc_type,
	cus_type,
	loan_nature,
	coll_type
	,common
    ,t.type
FROM t_Doc_Mapping t
WHERE EXISTS
(
    SELECT 1
    FROM
    (
        SELECT LTRIM(RTRIM(x.value('.', 'VARCHAR(1000)'))) AS value
        FROM
        (
            SELECT CAST(
                '<x>' + REPLACE(t.cus_type, ',', '</x><x>') + '</x>'
                AS XML
            ) AS xml_data
        ) d
        CROSS APPLY d.xml_data.nodes('/x') AS n(x)
    ) v
    INNER JOIN
    (
        SELECT LTRIM(RTRIM(x.value('.', 'VARCHAR(1000)'))) AS value
        FROM
        (
            SELECT CAST(
                '<x>' + REPLACE(@Search_CUS, ',', '</x><x>') + '</x>'
                AS XML
            ) AS xml_data
        ) d
        CROSS APPLY d.xml_data.nodes('/x') AS n(x)
    ) s
        ON v.value = s.value
)


UNION


-- Loan Related
SELECT DISTINCT
    t.primary_key,
    t.Sl,
    t.name,

	[required]
      ,[status]
      ,[reason]
      ,[expiry]
      ,[remarks],


    'Loan Related' AS doc_type,
	cus_type,
	loan_nature,
	coll_type
	,common,
    t.type
FROM t_Doc_Mapping t
WHERE EXISTS
(
    SELECT 1
    FROM
    (
        SELECT LTRIM(RTRIM(x.value('.', 'VARCHAR(1000)'))) AS value
        FROM
        (
            SELECT CAST(
                '<x>' + REPLACE(t.loan_nature, ',', '</x><x>') + '</x>'
                AS XML
            ) AS xml_data
        ) d
        CROSS APPLY d.xml_data.nodes('/x') AS n(x)
    ) v
    INNER JOIN
    (
        SELECT LTRIM(RTRIM(x.value('.', 'VARCHAR(1000)'))) AS value
        FROM
        (
            SELECT CAST(
                '<x>' + REPLACE(@Search_LOAN, ',', '</x><x>') + '</x>'
                AS XML
            ) AS xml_data
        ) d
        CROSS APPLY d.xml_data.nodes('/x') AS n(x)
    ) s
        ON v.value = s.value
)


UNION


-- Security Related
SELECT DISTINCT
    t.primary_key,
    t.Sl,
    t.name,

	[required]
      ,[status]
      ,[reason]
      ,[expiry]
      ,[remarks],


    'Security Related' AS doc_type,
	cus_type,
	loan_nature,
	coll_type
	,common,
    t.type
FROM t_Doc_Mapping t
WHERE EXISTS
(
    SELECT 1
    FROM
    (
        SELECT LTRIM(RTRIM(x.value('.', 'VARCHAR(1000)'))) AS value
        FROM
        (
            SELECT CAST(
                '<x>' + REPLACE(t.coll_type, ',', '</x><x>') + '</x>'
                AS XML
            ) AS xml_data
        ) d
        CROSS APPLY d.xml_data.nodes('/x') AS n(x)
    ) v
    INNER JOIN
    (
        SELECT LTRIM(RTRIM(x.value('.', 'VARCHAR(1000)'))) AS value
        FROM
        (
            SELECT CAST(
                '<x>' + REPLACE(@Search_COLL, ',', '</x><x>') + '</x>'
                AS XML
            ) AS xml_data
        ) d
        CROSS APPLY d.xml_data.nodes('/x') AS n(x)
    ) s
        ON v.value = s.value
)


UNION


--Default
SELECT
    t.primary_key,
    t.Sl,
    t.name,

	[required]
      ,[status]
      ,[reason]
      ,[expiry]
      ,[remarks],


    'Default' AS doc_type,
	cus_type,
	loan_nature,
	coll_type
	,common,
    t.type
FROM t_Doc_Mapping t
WHERE t.common = 'D'


--ORDER BY 1 ASC;
)d
join
	[dbo].[t_Doc_Type] t

	on

	d.type=t.[name]

	order by doc_type_sl asc,convert(int,d.SL) asc
GO
/****** Object:  StoredProcedure [dbo].[usp_Comp_OwnerInfo_Save]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Comp_OwnerInfo_Save]
(

			@edoc_id varchar(50)
           ,@name varchar(50)
		   ,@role varchar(500)
           ,@address varchar(50)
		   ,@phone varchar(500)

)
as
--select * from t_Comp_OwnerInfo
INSERT INTO [dbo].[t_Comp_OwnerInfo]
           ([edoc_id]
           ,[name]
           ,[role]
           ,[address]
		   ,[phone]
		   )
     VALUES
          (
		  
		  
		    @edoc_id
           ,@name
           ,@role
           ,@address
		   ,@phone
		  
		  
		  
		  
		  
		  
		  
		  )

GO
/****** Object:  StoredProcedure [dbo].[usp_Comp_SisterConcernInfo_Save]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Comp_SisterConcernInfo_Save]


(

@edoc_id varchar(50),
@t24_cus_id varchar(50),
@name varchar(50),
@address varchar(50),
@phone varchar(50)

)
as



--SELECT * FROM t_Comp_SisterConcernInfo


INSERT INTO [dbo].[t_Comp_SisterConcernInfo]
           ([edoc_id]
           ,[t24_cus_id]
           ,[name]
           ,[address]
           ,[phone])
     VALUES
           (@edoc_id
           ,@t24_cus_id
           ,@name
           ,@address
           ,@phone)

GO
/****** Object:  StoredProcedure [dbo].[usp_CustomerListing]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from [dbo].[t_eDOC_ID] order by 1 asc

--delete [dbo].[t_eDOC_ID] where id<=71


--exec usp_CustomerListing

CREATE procedure [dbo].[usp_CustomerListing]

as

select 
	e.id
	,case 
		when e.cus_type='PART' THEN 'Partnership'
		when e.cus_type='INDV' THEN 'Individual'
		when e.cus_type='COMP' THEN 'Company'
		when e.cus_type='JV' THEN 'Joint Venture'
		when e.cus_type='PROP' THEN 'Proreitor'

	end cus_type
	,e.edoc_id
	,e.create_date
from 
	[dbo].[t_eDOC_ID] e



GO
/****** Object:  StoredProcedure [dbo].[usp_CustomerListing_V2]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from [dbo].[t_eDOC_ID] order by 1 asc

--delete [dbo].[t_eDOC_ID] where id<=71


--exec usp_CustomerListing_V2

CREATE procedure [dbo].[usp_CustomerListing_V2]

as

select  
* from 


[dbo].[t_CustomerInfo]
GO
/****** Object:  StoredProcedure [dbo].[usp_DocList]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC usp_DocList 'Indv'

CREATE procedure  [dbo].[usp_DocList]
(
	@customer_type varchar(100)=null
)

as


select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]  
where 
	indv<>'N/A'
and DocType='Basic Documents' 
order by 
	SL asc 
/*Charge*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]  
where 
	indv<>'N/A'
and DocType='Charge Documents' 
order by 
	SL asc 
	
/*Liability*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]  
where 
	indv<>'N/A'
and DocType='Liability Takeover' 
order by 
	SL asc 

/*Loan Documents*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]  
where 
	indv<>'N/A'
and DocType='Loan Documents' 
order by 
	SL asc 


/*Mortgage Document*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]  
where 
	indv<>'N/A'
and DocType='Mortgage Document' 
order by 
	SL asc 



/*Other Documents*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]  
where 
	indv<>'N/A'
and DocType='Other Documents' 
order by 
	SL asc 



/*Syndication/Pledge Doc.*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]  
where 
	indv<>'N/A'
and DocType='Syndication/Pledge Doc.' 
order by 
	SL asc 


/*Undertaking*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]  
where 
	indv<>'N/A'
and DocType='Undertaking' 
order by 
	SL asc 

GO
/****** Object:  StoredProcedure [dbo].[usp_DocList_View]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC usp_DocList_View 'Indv',72

CREATE procedure  [dbo].[usp_DocList_View]
(
	@customer_type varchar(100)=null
	,@cus_id int=null
)

as


select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList] l  
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id=@cus_id
)u
on
	l.SL=u.doc_id
where 
	indv<>'N/A'
and DocType='Basic Documents' 

order by 
	SL asc 
/*Charge*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]  l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id=@cus_id
)u
on
	l.SL=u.doc_id
where 
	indv<>'N/A'
and DocType='Charge Documents' 
 
order by 
	SL asc 
	
/*Liability*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]   l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id=@cus_id
)u
on
	l.SL=u.doc_id
where 
	indv<>'N/A'
and DocType='Liability Takeover' 
 
order by 
	SL asc 

/*Loan Documents*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id=@cus_id
)u
on
	l.SL=u.doc_id
where 
	indv<>'N/A'
and DocType='Loan Documents' 
 
order by 
	SL asc 


/*Mortgage Document*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id=@cus_id
)u
on
	l.SL=u.doc_id
where 
	indv<>'N/A'
and DocType='Mortgage Document' 
 
order by 
	SL asc 



/*Other Documents*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id=@cus_id
)u
on
	l.SL=u.doc_id
where 
	indv<>'N/A'
and DocType='Other Documents' 
 
order by 
	SL asc 



/*Syndication/Pledge Doc.*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id=@cus_id
)u
on
	l.SL=u.doc_id
where 
	indv<>'N/A'
and DocType='Syndication/Pledge Doc.' 
 
order by 
	SL asc 


/*Undertaking*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id=@cus_id
)u
on
	l.SL=u.doc_id
where 
	indv<>'N/A'
and DocType='Undertaking' 

order by 
	SL asc 

GO
/****** Object:  StoredProcedure [dbo].[usp_DocList_View_Profile]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC usp_DocList_View_Profile 'Part',200263313

--drop procedure EXEC_usp_DocList_View_Profile
CREATE procedure  [dbo].[usp_DocList_View_Profile]
(
	@customer_type varchar(100)=null
	,@cus_id int=null
	--,@drawdown_id int=null
)

as

declare
	@sqlstr varchar(8000)

	set @sqlstr='

	/*GENERAL DOCUMENTS*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList] l  
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where ' +
	@customer_type+'<>''N/A'''+
' and category=''GENERAL DOCUMENTS'''+ '

order by 
	SL asc 
/*MORTGAGE OF PROPERTIES*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]  l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
' and category=''MORTGAGE OF PROPERTIES''' +'
 
order by 
	SL asc 
	
/*LIABILITY TAKE OVER FROM OTHER BANKS*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]   l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LIABILITY TAKE OVER FROM OTHER BANKS''' +'
 
order by 
	SL asc 

/*HYPOTHECATION OF STOCK/ MACHINERY & EQUIPMENT/ RECEIVABLES*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''HYPOTHECATION OF STOCK/ MACHINERY & EQUIPMENT/ RECEIVABLES'''+' 
 
order by 
	SL asc 


/*PLEDGE OF SHARES*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''PLEDGE OF SHARES'''+'
 
order by 
	SL asc 



/*ASSIGNMENT*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''ASSIGNMENT'''+'
 
order by 
	SL asc 



/*LIEN*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LIEN''' +'
 
order by 
	SL asc 


/*SET-OFF*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''SET-OFF'''+'

order by 
	SL asc 



/*CHARGE WITH RJSC*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''CHARGE WITH RJSC'''+'

order by 
	SL asc 	

	
/*SYNDICATION*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''SYNDICATION'''+'

order by 
	SL asc 	
	
	
/*INSURANCE POLICY*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''INSURANCE POLICY'''+'

order by 
	SL asc 	

	
/*UNDERTAKING*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''UNDERTAKING'''+'

order by 
	SL asc 	

	
/*LETTER OF GUARANTEE*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LETTER OF GUARANTEE'''+'

order by 
	SL asc 	

	
/*IDBP/ FDBP*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''IDBP/ FDBP'''+'

order by 
	SL asc 




/*OTHER DOCUMENTS*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  p.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads_Profile] p  where  p.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''OTHER DOCUMENTS'''+'

order by 
	SL asc 



'


--print @sqlstr
exec (@sqlstr)
 

/*Customer Deatils :  */

select * from t_CustomerInfo where cus_code=@cus_id



GO
/****** Object:  StoredProcedure [dbo].[usp_DocList_View_V2]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC usp_DocList_View_V2 'Part',72

CREATE procedure  [dbo].[usp_DocList_View_V2]
(
	@customer_type varchar(100)=null
	,@cus_id int=null
)

as

declare
	@sqlstr varchar(8000)

	set @sqlstr='

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList] l  
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where ' +
	@customer_type+'<>''N/A'''+
' and DocType=''Basic Documents'''+ '

order by 
	SL asc 
/*Charge*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]  l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
' and DocType=''Charge Documents''' +'
 
order by 
	SL asc 
	
/*Liability*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]   l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and DocType=''Liability Takeover''' +'
 
order by 
	SL asc 

/*Loan Documents*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and DocType=''Loan Documents'''+' 
 
order by 
	SL asc 


/*Mortgage Document*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and DocType=''Mortgage Document'''+'
 
order by 
	SL asc 



/*Other Documents*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and DocType=''Other Documents'''+'
 
order by 
	SL asc 



/*Syndication/Pledge Doc.*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and DocType=''Syndication/Pledge Doc.''' +'
 
order by 
	SL asc 


/*Undertaking*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and DocType=''Undertaking'''+'

order by 
	SL asc '


--print @sqlstr
exec (@sqlstr)
GO
/****** Object:  StoredProcedure [dbo].[usp_DocList_View_V3]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC usp_DocList_View_V3 'Part',72,37

CREATE procedure  [dbo].[usp_DocList_View_V3]
(
	@customer_type varchar(100)=null
	,@cus_id int=null
	,@drawdown_id int=null
)

as

declare
	@sqlstr varchar(8000)

	set @sqlstr='

	/*GENERAL DOCUMENTS*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList] l  
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where ' +
	@customer_type+'<>''N/A'''+
' and category=''GENERAL DOCUMENTS'''+ '

order by 
	SL asc 
/*MORTGAGE OF PROPERTIES*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]  l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
' and category=''MORTGAGE OF PROPERTIES''' +'
 
order by 
	SL asc 
	
/*LIABILITY TAKE OVER FROM OTHER BANKS*/

select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]   l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LIABILITY TAKE OVER FROM OTHER BANKS''' +'
 
order by 
	SL asc 

/*HYPOTHECATION OF STOCK/ MACHINERY & EQUIPMENT/ RECEIVABLES*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''HYPOTHECATION OF STOCK/ MACHINERY & EQUIPMENT/ RECEIVABLES'''+' 
 
order by 
	SL asc 


/*PLEDGE OF SHARES*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''PLEDGE OF SHARES'''+'
 
order by 
	SL asc 



/*ASSIGNMENT*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''ASSIGNMENT'''+'
 
order by 
	SL asc 



/*LIEN*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LIEN''' +'
 
order by 
	SL asc 


/*SET-OFF*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''SET-OFF'''+'

order by 
	SL asc 



/*CHARGE WITH RJSC*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''CHARGE WITH RJSC'''+'

order by 
	SL asc 	

	
/*SYNDICATION*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''SYNDICATION'''+'

order by 
	SL asc 	
	
	
/*INSURANCE POLICY*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''INSURANCE POLICY'''+'

order by 
	SL asc 	

	
/*UNDERTAKING*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''UNDERTAKING'''+'

order by 
	SL asc 	

	
/*LETTER OF GUARANTEE*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''LETTER OF GUARANTEE'''+'

order by 
	SL asc 	

	
/*IDBP/ FDBP*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''IDBP/ FDBP'''+'

order by 
	SL asc 




/*OTHER DOCUMENTS*/
select

	 SL
	,DocType Type
	,left(Name,50) Name
	,Required
	,Obtained
	,NotObtained_Reason
	,u.*
	
	 
from 
	[dbo].[t_DocList]    l 
left join
(
	--select * from [dbo].[t_Uploads] u  where  u.cus_id='+convert(varchar(20),@cus_id)+'
	select * from [dbo].[t_Uploads] u  where  u.drawdown_id='+convert(varchar(20),@drawdown_id)+'
)u
on
	l.SL=u.doc_id
where '+
	@customer_type+'<>''N/A'''+
'and category=''OTHER DOCUMENTS'''+'

order by 
	SL asc 



'


--print @sqlstr
exec (@sqlstr)

--Exception
--truncate table t_DocumentStatus
--select * from [dbo].[t_DocumentStatus] where status in ('Part','Not')
--Exception
select
	row_number() over (order by id asc )  doc_sl
	,e.*
from
(
	select d.id,d.doc_name,d.status,d.details,d.deadline from [dbo].[t_DocumentStatus] d where status in ('Part','Not')
	union all
	select o.id,o.doc_name,o.status,o.details,o.deadline from [dbo].[t_OtherDocuments] o where o.status not in  ('Obtained')
)e



--Any Other Doc
--select * from [dbo].[t_OtherDocuments]
--truncate table t_OtherDocuments
select  row_number() over (order by id asc) doc_sl,o.* from [dbo].[t_OtherDocuments] o where o.status in  ('Obtained')

--Confirmation
select c.*,r.drawdown_id
,r.reply,r.reason,r.input_by from  [dbo].[t_ConfirmationQuestion] c left join [dbo].[t_ConfirmationReply] r on c.id=r.[question_id]



/*Customer Deatils :  */

select * from t_CustomerInfo where cus_code in 

(
select cus_id from t_Drawdown_Cusid where drawdown_id=@drawdown_id
)



GO
/****** Object:  StoredProcedure [dbo].[usp_Document_Filtering_Customer_Type_Wise]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec usp_Document_Filtering_Customer_Type_Wise 'IND'
--exec usp_Document_Filtering_Customer_Type_Wise 'JV'
--exec usp_Document_Filtering_Customer_Type_Wise 'PVT'
--exec usp_Document_Filtering_Customer_Type_Wise 'PLC'
--exec usp_Document_Filtering_Customer_Type_Wise 'PRP'
--exec usp_Document_Filtering_Customer_Type_Wise 'PRT'
--select * from t_Doc_Mapping


CREATE procedure [dbo].[usp_Document_Filtering_Customer_Type_Wise]
(

	@cus_type  VARCHAR(1000)

)
as




-- Customer Related

If OBJECT_ID('tempdb..#Temp_CustomerTypeDoc') IS NOT NULL
		Drop Table #Temp_CustomerTypeDoc

	 


SELECT 
	 d.*
	,t.doc_key doc_type_key
	,t.sl doc_type_serial
	,t.name doc_type_name 
into
	#Temp_CustomerTypeDoc
FROM 
(

SELECT DISTINCT
    t.primary_key
    ,t.Sl
    ,t.name
    ,'Customer Related' AS doc_type
    ,t.type
	,cus_type
	,[required]
	,[status]
	,[reason]
	,[expiry]
	,[remarks]




FROM t_Doc_Mapping t
WHERE EXISTS
(
    SELECT 1
    FROM
    (
        SELECT LTRIM(RTRIM(x.value('.', 'VARCHAR(1000)'))) AS value
        FROM
        (
            SELECT CAST(
                '<x>' + REPLACE(t.cus_type, ',', '</x><x>') + '</x>'
                AS XML
            ) AS xml_data
        ) d
        CROSS APPLY d.xml_data.nodes('/x') AS n(x)
    ) v
    INNER JOIN
    (
        SELECT LTRIM(RTRIM(x.value('.', 'VARCHAR(1000)'))) AS value
        FROM
        (
            SELECT CAST(
                '<x>' + REPLACE(@cus_type, ',', '</x><x>') + '</x>'
                AS XML
            ) AS xml_data
        ) d
        CROSS APPLY d.xml_data.nodes('/x') AS n(x)
    ) s
        ON v.value = s.value
)
)d
join
	[dbo].[t_Doc_Type] t 
on 
	d.type=t.[name]

	

order by 
	t.sl asc,convert(int,d.SL) asc

--select * from #Temp_CustomerTypeDoc
 

select 
	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks

	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
from 
	#Temp_CustomerTypeDoc  d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	
where 
	doc_type_name='GENERAL DOCUMENTS' 
order by 
	SL asc


select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	
	from #Temp_CustomerTypeDoc d


left join
	t_Uploads_Customer c
on
	d.primary_key=c.[doc_id]





 where doc_type_name='MORTGAGE OF PROPERTIES' order by SL asc
select 	d.*
	 ,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	 from #Temp_CustomerTypeDoc  d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	 where doc_type_name='LIABILITY TAKE OVER FROM OTHER BANKS' order by SL asc


select 	d.*
,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	
	 where doc_type_name='HYPOTHECATION OF STOCK/ MACHINERY & EQUIPMENT/ RECEIVABLES' order by SL asc


select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	
	 where doc_type_name='PLEDGE OF SHARES' order by SL asc
select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	
	 where doc_type_name='ASSIGNMENT' order by SL asc
select 	d.*
,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	 from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	
	 where doc_type_name='LIEN' order by SL asc
select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	 from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	
	 where doc_type_name='SET-OFF' order by SL asc
select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	
	  where doc_type_name='CHARGE WITH RJSC' order by SL asc
select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	 from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	
	 where doc_type_name='SYNDICATION' order by SL asc
select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id  where doc_type_name='INSURANCE POLICY' order by SL asc
select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	 from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id
	
	  where doc_type_name='UNDERTAKING' order by SL asc
select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	 from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id where doc_type_name='LETTER OF GUARANTEE' order by SL asc
select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	
	 from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id where doc_type_name='IDBP/ FDBP' order by SL asc
select 	d.*
	,c.cus_id c_cus_id
	,c.required c_required
	,c.status c_status
	,c.reason c_reason
	,convert(varchAR(10), c.date ,103) c_date

	,convert(varchAR(10), c.expiry ,103) c_expiry
	,c.remarks c_remarks
	,c.file_name 
	,convert(varchAR(10), c.upload_date_time ,103) upload_date_time
	
	 from #Temp_CustomerTypeDoc d
left join
	t_Uploads_Customer c
on
	d.primary_key=c.doc_id  where doc_type_name='OTHER DOCUMENTS' order by SL asc
GO
/****** Object:  StoredProcedure [dbo].[usp_DocUpload]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_DocUpload]


(
	@Customer_Auto_ID int
	,@File_Auto_ID int 
	,@fileName varchar(500)

)


as



INSERT INTO [dbo].[t_Uploads]  ([cus_id],[doc_id],[file_name])   VALUES   (@Customer_Auto_ID,@File_Auto_ID,@fileName)
GO
/****** Object:  StoredProcedure [dbo].[usp_Drawdown_Listing]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec usp_Drawdown_Listing

CREATE procedure [dbo].[usp_Drawdown_Listing]

as

--select * from [dbo].[t_Drawdown]


with cte as 
(
select drawdown_id,cus_id,cus_name from  [dbo].[t_Drawdown_Cusid] d join [dbo].[t_CustomerInfo] c
on
c.[cus_code]=d.cus_id
)

--select * from cte

SELECT drawdown_id id,drawdown_id, 
       STUFF((SELECT ', ' + cus_id 
              FROM cte t2 
              WHERE t2.drawdown_id = t1.drawdown_id 
              FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '') 
       AS cus_id,
	    STUFF((SELECT ', ' + cus_name 
              FROM cte t2 
              WHERE t2.drawdown_id = t1.drawdown_id 
              FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, '') 
       AS cus_name
FROM cte t1
GROUP BY drawdown_id;
GO
/****** Object:  StoredProcedure [dbo].[usp_Drawdown_Save]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Drawdown_Save]


(

@cus_ids varchar(500),
@loan_natures varchar(500),
@securities varchar(500),
@cus_name  varchar(50)=NULL,
@sanc_authority  varchar(50),
@sanc_reference_no  varchar(50),
@sanc_date  datetime,
@liab_pos  varchar(8000),
@tot_exposure  decimal(18,2),
@cib_status  varchar(500),
--@create_date  datetime,
--@update_date  datetime,
@create_by  varchar(500)


,@auto_id int output
)
as

declare

	
	@primary_cust_id varchar(20)



	,@eDOC_dd_id varchar(20)


	SELECT @primary_cust_id=LEFT(@cus_ids, CHARINDEX(',', @cus_ids + ',') - 1)

SET @eDOC_dd_id =convert(varchar(100), NEXT VALUE FOR seq_eDOC_dd);

--truncate table t_Drawdown

INSERT INTO [dbo].[t_Drawdown]
           ([cus_id]
		   ,[loan_natures]
		   ,[securities]
           ,[cus_name]
           ,[sanc_authority]
           ,[sanc_reference_no]
           ,[sanc_date]
           ,[liab_pos]
           ,[tot_exposure]
           ,[cib_status]
           ,[create_date]
           ,[update_date]
           ,[create_by]
		   ,[drawdown_id]
		   
		   )
     VALUES
           (--@cus_ids 
		    @primary_cust_id
		   ,@loan_natures
		   ,@securities
           ,@cus_name 
           ,@sanc_authority 
           ,@sanc_reference_no 
           ,@sanc_date 
           ,@liab_pos 
           ,@tot_exposure 
           ,@cib_status 
           ,getdate() 
           ,null
           ,@create_by 
		   ,@eDOC_dd_id
		   
		   )
 


			Insert into [dbo].[t_Drawdown_Cusid]
			SELECT @eDOC_dd_id,Item,getdate() FROM dbo.SplitString(@cus_ids, ',')





			insert into [dbo].[t_Uploads] ([drawdown_id],[doc_id],[file_name],[upload_date_time],[upload_by],[upload_ip])
			select @eDOC_dd_id,[doc_id],[file_name],getdate(),[upload_by],[upload_ip] from [dbo].[t_Uploads_Profile] 
			where [cus_id] in 
			(
				select [cus_id] from [dbo].[t_Drawdown_Cusid] where [drawdown_id]=@eDOC_dd_id
			)





			SELECT @auto_id=@eDOC_dd_id



 /*
 
 CREATE SEQUENCE seq_eDOC_dd
	AS INT
	START WITH 10
	INCREMENT BY 1; 

SELECT NEXT VALUE FOR seq_eDOC_dd; 

 
 */
GO
/****** Object:  StoredProcedure [dbo].[usp_eDIC_ID_Create]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

declare
	@id int
	,@returnvalue int
	,@eDOCID varchar(100)

		exec @returnvalue=usp_eDIC_ID_Create @cus_type='PROP',@eDOC_ID=@eDOCID  output

		select @eDOCID edoc_id

*/

CREATE procedure [dbo].[usp_eDIC_ID_Create]


(
	@cus_type varchar(100) 
	,@eDOC_ID  varchar(50) output
)
as







SET @eDOC_ID =@cus_type+'-'+convert(varchar(100), NEXT VALUE FOR seq_eDOC);

insert into [dbo].[t_eDOC_ID] values (@cus_type,@eDOC_ID,getdate())

--set @eDOC_ID=@seq_id

--select * from [dbo].[t_eDOC_ID]
GO
/****** Object:  StoredProcedure [dbo].[usp_eDOC_ID_Create]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

declare
	@id int
	,@returnvalue int
	,@eDOCID varchar(100)
	,@autoid int

		exec @returnvalue=usp_eDOC_ID_Create @cus_type='PROP',@eDOC_ID=@eDOCID  output,@auto_id=@autoid output

		select @eDOCID edoc_id
		select @autoid auto_id

*/

CREATE procedure [dbo].[usp_eDOC_ID_Create]

(
	@cus_type varchar(100) 
	,@eDOC_ID  varchar(50) output
	,@auto_id int output
)


as







SET @eDOC_ID =@cus_type+'-'+convert(varchar(100), NEXT VALUE FOR seq_eDOC);



INSERT into [dbo].[t_eDOC_ID] values (@cus_type,@eDOC_ID,getdate())

SELECT @auto_id=id from t_eDOC_ID where edoc_id=@eDOC_ID

--set @eDOC_ID=@seq_id

--select * from [dbo].[t_eDOC_ID]

/*

CREATE SEQUENCE seq_eDOC
AS INT
START WITH 10
INCREMENT BY 1; 

SELECT NEXT VALUE FOR seq_eDOC; 

*/
GO
/****** Object:  StoredProcedure [dbo].[usp_JV_CompanyInfo_Save]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_JV_CompanyInfo_Save]



(
			@edoc_id varchar(50)
           ,@t24_cus_id varchar(50)
           ,@name varchar(50)
           ,@address varchar(50)
           ,@phone varchar(500)

)


as



--select * from t_JV_CompanyInfo

INSERT INTO [dbo].[t_JV_CompanyInfo]
           ([edoc_id]
           ,[t24_cus_id]
           ,[name]
           ,[address]
           ,[phone])
     VALUES
           (@edoc_id
           ,@t24_cus_id
           ,@name
           ,@address
           ,@phone
		   )

GO
/****** Object:  StoredProcedure [dbo].[usp_LoadDocumentStatus]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_LoadDocumentStatus]




as
select * from [dbo].[t_DocumentStatus] where status in ('Part','Not')
GO
/****** Object:  StoredProcedure [dbo].[usp_Part_PartnerInfo_Save]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Part_PartnerInfo_Save]
(
			@edoc_id  varchar(50)
           ,@name varchar(50)
		   ,@address varchar(50)
         
		   ,@phone varchar(50)
)


as

--select * from t_Part_PartnerInfo
INSERT INTO [dbo].[t_Part_PartnerInfo]
           ([edoc_id]
           ,[name]
           ,[address]
           ,[phone])
     VALUES
           (@edoc_id
           ,@name
           ,@address
           ,@phone
		   )

GO
/****** Object:  StoredProcedure [dbo].[usp_Profile_Create]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Profile_Create]

(
	@cus_type  varchar(500)=null
	,@edoc_id  varchar(500)=null
	,@cus_code  varchar(500)=null
	,@name  varchar(500)=null
	,@fname  varchar(500)=null
	,@mname  varchar(500)=null
	,@legal_id  varchar(500)=null
	,@legal_doc_name varchar(500)=null
	,@gender  varchar(500)=null
	,@tin  varchar(500)=null
	,@pre_addr varchar(500)=null
	,@per_addr varchar(500)=null

	--,@id int output

)

as

--select * from  t_eDOC_ID

--select @id=id from t_eDOC_ID where edoc_id=@edoc_id



INSERT INTO [dbo].[t_CustomerInfo]
           ([cus_code]
           ,[cus_name]
           ,[cus_type]
           ,[cus_create_date])
     VALUES
           (@cus_code
           ,@name
           ,@cus_type
           ,getdate())



if (@cus_type='INDV')
INSERT INTO [dbo].[t_Indv]
           (
		   
		    [edoc_id]
		   ,[cus_code]
           ,[name]
		   ,[fname]
		   ,[mname]
           ,[legal_id]
           ,[legal_doc_name]
           ,[gender]
           ,[tin]
           ,[pre_addr]
           ,[per_addr]
		   
		   
		   
		   
		   
		   
		   
		   
		   
		   ,[create_date]
		   )
     VALUES
           (
		   
		   @edoc_id
		   ,@cus_code 
           ,@name 
		   ,@fname 
		   ,@mname 
           ,@legal_id 
           ,@legal_doc_name 
           ,@gender 
           ,@tin 
           ,@pre_addr
           ,@per_addr
		   

		   ,getdate()
		   )
		   --truncate table  [dbo].[t_Prop]
		   --select * from [dbo].[t_Prop]
		if (@cus_type='PROP')
		INSERT INTO [dbo].[t_Prop]
           (
		   [edoc_id]
		   ,[cus_code]
           ,[name]
           ,[legal_id]
           ,[legal_doc_name])
     VALUES
           (
		   @edoc_id
		   ,@cus_code
           ,@name
           ,@legal_id
           ,@legal_doc_name
		   )
		   --truncate table  [dbo].[t_Part]
		   --select * from [dbo].[t_Part]
if (@cus_type='PART')
		INSERT INTO [dbo].[t_Part]
           (
		   [edoc_id]
		   ,[cus_code]
           ,[name]
           ,[legal_id]
           ,[legal_doc_name])
     VALUES
           (
		   @edoc_id
		   ,@cus_code
           ,@name
           ,@legal_id
           ,@legal_doc_name
		   )
		    --truncate table [dbo].[t_Comp]
		   --select * from [dbo].[t_Comp]
	if (@cus_type='COMP')
		INSERT INTO [dbo].[t_Comp]
           (
		   
		   [edoc_id]
		   
		   ,[cus_code]
           ,[name]
           ,[legal_id]
           ,[legal_doc_name])
     VALUES
           (
		   @edoc_id
		   ,@cus_code
           ,@name
           ,@legal_id
           ,@legal_doc_name
		   )
		   --truncate table [dbo].[t_JV]
		   --select * from [dbo].[t_JV]
		if (@cus_type='JV')
		INSERT INTO [dbo].[t_JV]
           (
		   
		   [edoc_id]
		   ,[cus_code]
           ,[name]
           ,[legal_id]
           ,[legal_doc_name])
     VALUES
           (
		   @edoc_id
		   ,@cus_code
           ,@name
           ,@legal_id
           ,@legal_doc_name
		   )
GO
/****** Object:  StoredProcedure [dbo].[usp_Prop_OwnerInfo_Save]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Prop_OwnerInfo_Save]
(
			@edoc_id  varchar(50)
           ,@name varchar(50)
		   ,@address varchar(50)
           ,@legal_id varchar(50)
           ,@legal_doc_name varchar(500)
		   ,@phone varchar(50)
)

as
--select * from t_Prop_OwnerInfo
INSERT INTO [dbo].[t_Prop_OwnerInfo]
           ([edoc_id]
           ,[name]
		   ,[address]
           ,[legal_id]
           ,[legal_doc_name]
		   ,[phone]
		   )
     VALUES
           (@edoc_id
           ,@name
		   ,@address
           ,@legal_id
           ,@legal_doc_name
		   ,@phone
		   )

GO
/****** Object:  StoredProcedure [dbo].[usp_Save_Confirmation_Reply]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from  t_ConfirmationReply
CREATE procedure [dbo].[usp_Save_Confirmation_Reply]

(
		@drawdown_id int,
		@question_id int,
		@reply varchar(500),
		@reason varchar(500),
		@input_by varchar(500)
		

)
as


delete t_ConfirmationReply  where drawdown_id=1 and question_id=@question_id

INSERT INTO [dbo].[t_ConfirmationReply]
           ([drawdown_id]
           ,[question_id]
           ,[reply]
           ,[reason]
           ,[create_date]
		   
		   ,[input_by]
		   )
     VALUES
           (@drawdown_id
           ,@question_id
           ,@reply
           ,@reason
           ,getdate()
		   
		   
		   ,@input_by)

GO
/****** Object:  StoredProcedure [dbo].[usp_Save_Document_Status]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SELECT * FROM t_DocumentStatus

CREATE procedure [dbo].[usp_Save_Document_Status]

(

			@status varchar(500)
			,@drawdown_id int
			,@doc_sl int
           
			,@details varchar(500)
			,@deadline  varchar(500)=null
			,@input_by  varchar(500)
)

as


declare
	@docname varchar(500)
--DELETE t_DocumentStatus  WHERE drawdown_id=@drawdown_id and doc_sl=@doc_sl

select @docname=[Name] from [dbo].[t_DocList] where SL=@doc_sl

INSERT INTO [dbo].[t_DocumentStatus]
           (
		    [drawdown_id]
           ,[doc_sl]
		   ,[doc_name]
           ,[status]
           ,[details]
		   ,[deadline]
           ,[create_date]
		   ,[input_by]
		   )
     VALUES
           (
		   @drawdown_id
           ,@doc_sl
		   ,@docname
           ,@status
           ,@details
		   ,@deadline
           ,getdate()
		   ,@input_by


		   )


GO
/****** Object:  StoredProcedure [dbo].[usp_Save_Document_Status_Customer]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SELECT * FROM t_DocumentStatus

CREATE procedure [dbo].[usp_Save_Document_Status_Customer]

(

			@status varchar(500)
			,@drawdown_id int
			,@doc_sl int
           
			,@details varchar(500)
			,@deadline  varchar(500)=null
			,@input_by  varchar(500)
)

as


declare
	@docname varchar(500)
--DELETE t_DocumentStatus  WHERE drawdown_id=@drawdown_id and doc_sl=@doc_sl

select @docname=[Name] from [dbo].[t_DocList] where SL=@doc_sl

INSERT INTO [dbo].[t_DocumentStatus]
           (
		    [drawdown_id]
           ,[doc_sl]
		   ,[doc_name]
           ,[status]
           ,[details]
		   ,[deadline]
           ,[create_date]
		   ,[input_by]
		   )
     VALUES
           (
		   @drawdown_id
           ,@doc_sl
		   ,@docname
           ,@status
           ,@details
		   ,@deadline
           ,getdate()
		   ,@input_by


		   )


GO
/****** Object:  StoredProcedure [dbo].[usp_Save_Other_Documents]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Save_Other_Documents]

(
	@drawdown_id int
	,@doc_name varchar(500)
	,@status  varchar(50)
	,@details varchar(500)

	,@deadline varchar(500)

	,@input_by  varchar(500)
	

)

as


--SELECT * FROM t_OtherDocuments
INSERT INTO [dbo].[t_OtherDocuments]
           ([drawdown_id]
           ,[doc_name]
           ,[status]
           ,[details]
		   ,[deadline]
           ,[create_date]
		   
		   ,[input_by]
		   )
     VALUES
           (
		   @drawdown_id
           ,@doc_name
           ,@status
           ,@details
		   ,@deadline
           ,getdate()

		   ,'Test'
		   
		   )

GO
/****** Object:  StoredProcedure [dbo].[usp_SaveDocumentUpload_Customer]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec usp_SaveDocumentUpload_Customer 'rrrr',1,1,'Obtained','ddfasd','20260820','tttt','dfgdfg','dfgdgddgf'

--select * from t_Uploads_Customer

--truncate table t_Uploads_Customer

CREATE procedure [dbo].[usp_SaveDocumentUpload_Customer]


(
	 @cus_id varchar(500)
	,@doc_id int 


	,@required [varchar](5) =null
	,@status  [varchar](500) =null
	,@reason  [varchar](500) =null
	,@date  datetime =null

	
	,@expiry  datetime =null
	,@remarks  [varchar](500) =null

	,@file_name   varchar(500)=null
	,@upload_by   varchar(500)
	,@upload_ip   varchar(500)


	

)

as




INSERT INTO [dbo].[t_Uploads_Customer]
           (	
		   
		   
			 [cus_id]
			,[doc_id]

			,[required]
			,[status]
			,[reason]
			,[date]


			,[expiry] 
			,[remarks]  


           ,[file_name]
           ,[upload_date_time]
           ,[upload_by]
           ,[upload_ip]
		   
		   
		   
		   
		   )


     VALUES
           (
				@cus_id
				,@doc_id


		    ,@required
			,@status
			,@remarks
			,@date

			,@expiry
			,@remarks


           ,@file_name
           ,getdate()
           ,@upload_by
           ,@upload_ip
		   
		   )

GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE FUNCTION [dbo].[SplitString]
(    
    @Input NVARCHAR(MAX),
    @Character CHAR(1)
)
RETURNS @Output TABLE (
    Item NVARCHAR(1000)
)
AS
BEGIN
    DECLARE @StartIndex INT, @EndIndex INT
 
    SET @StartIndex = 1
    IF SUBSTRING(@Input, LEN(@Input) - 1, LEN(@Input)) <> @Character
    BEGIN
        SET @Input = @Input + @Character
    END
 
    WHILE CHARINDEX(@Character, @Input) > 0
    BEGIN
        SET @EndIndex = CHARINDEX(@Character, @Input)
         
        INSERT INTO @Output(Item)
        SELECT SUBSTRING(@Input, @StartIndex, @EndIndex - 1)
         
        SET @Input = SUBSTRING(@Input, @EndIndex + 1, LEN(@Input))
    END
 
    RETURN
END
GO
/****** Object:  Table [dbo].[t_CollType]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_CollType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coll_type] [varchar](5000) NULL,
	[col_type_short] [varchar](5000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Comp]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Comp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[cus_code] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[legal_id] [varchar](50) NULL,
	[legal_doc_name] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Comp_OwnerInfo]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Comp_OwnerInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[role] [varchar](500) NULL,
	[address] [varchar](50) NULL,
	[phone] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Comp_SisterConcernInfo]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Comp_SisterConcernInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[t24_cus_id] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[phone] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_ConfirmationQuestion]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_ConfirmationQuestion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_ConfirmationReply]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_ConfirmationReply](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[drawdown_id] [int] NULL,
	[question_id] [int] NULL,
	[reply] [varchar](500) NULL,
	[reason] [varchar](500) NULL,
	[create_date] [datetime] NULL,
	[input_by] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_CustomerInfo]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_CustomerInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cus_code] [varchar](50) NULL,
	[cus_name] [varchar](500) NULL,
	[cus_type] [varchar](50) NULL,
	[cus_create_date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_CustomerType]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_CustomerType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cus_type] [varchar](50) NULL,
	[cus_type_short] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Doc_Mapping]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Doc_Mapping](
	[primary_key] [int] NULL,
	[sl] [varchar](50) NULL,
	[name] [varchar](5000) NULL,
	[short_form] [varchar](50) NULL,
	[required] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[reason] [varchar](50) NULL,
	[expiry] [varchar](50) NULL,
	[remarks] [varchar](5000) NULL,
	[cus_type] [varchar](8000) NULL,
	[loan_nature] [varchar](8000) NULL,
	[coll_type] [varchar](8000) NULL,
	[common] [varchar](5000) NULL,
	[omit] [varchar](50) NULL,
	[type] [varchar](5000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Doc_Type]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Doc_Type](
	[doc_key] [int] NULL,
	[sl] [varchar](50) NULL,
	[name] [varchar](5000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_DocList]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_DocList](
	[Ordering] [varchar](50) NULL,
	[Category] [varchar](500) NULL,
	[Serial] [varchar](50) NULL,
	[Name] [varchar](8000) NULL,
	[Required] [varchar](50) NULL,
	[Obtained] [varchar](50) NULL,
	[NotObtained_Reason] [varchar](50) NULL,
	[ShortForm] [varchar](500) NULL,
	[Indv] [varchar](8000) NULL,
	[Prop] [varchar](5000) NULL,
	[Part] [varchar](5000) NULL,
	[Comp] [varchar](500) NULL,
	[JV] [varchar](50) NULL,
	[DocType] [varchar](50) NULL,
	[SL] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_DocumentStatus]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_DocumentStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[drawdown_id] [int] NULL,
	[doc_sl] [int] NULL,
	[doc_name] [varchar](500) NULL,
	[status] [varchar](500) NULL,
	[details] [varchar](500) NULL,
	[deadline] [varchar](50) NULL,
	[create_date] [datetime] NULL,
	[input_by] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Drawdown]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Drawdown](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [varchar](50) NULL,
	[loan_natures] [varchar](500) NULL,
	[securities] [varchar](500) NULL,
	[cus_name] [varchar](50) NULL,
	[sanc_authority] [varchar](50) NULL,
	[sanc_reference_no] [varchar](50) NULL,
	[sanc_date] [datetime] NULL,
	[liab_pos] [varchar](8000) NULL,
	[tot_exposure] [decimal](18, 2) NULL,
	[cib_status] [varchar](500) NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[create_by] [varchar](500) NULL,
	[drawdown_id] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Drawdown_Cusid]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Drawdown_Cusid](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[drawdown_id] [int] NULL,
	[cus_id] [varchar](50) NULL,
	[create_date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Drawdown_Document_Master]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Drawdown_Document_Master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[primary_cus_id] [varchar](1000) NULL,
	[dd_id] [int] NULL,
	[primary_key] [int] NULL,
	[Sl] [varchar](50) NULL,
	[name] [varchar](5000) NULL,
	[required] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[reason] [varchar](50) NULL,
	[expiry] [varchar](50) NULL,
	[remarks] [varchar](5000) NULL,
	[doc_type] [varchar](16) NOT NULL,
	[cus_type] [varchar](8000) NULL,
	[loan_nature] [varchar](8000) NULL,
	[coll_type] [varchar](8000) NULL,
	[common] [varchar](5000) NULL,
	[type] [varchar](5000) NULL,
	[doc_type_key] [int] NULL,
	[doc_type_sl] [varchar](50) NULL,
	[doc_type_name] [varchar](5000) NULL,
	[create_date] [datetime] NOT NULL,
	[create_by] [varchar](4) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_eDOC_ID]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_eDOC_ID](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cus_type] [varchar](50) NULL,
	[edoc_id] [varchar](50) NULL,
	[create_date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Indv]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Indv](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[cus_code] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[fname] [varchar](50) NULL,
	[mname] [varchar](50) NULL,
	[legal_id] [varchar](50) NULL,
	[legal_doc_name] [varchar](500) NULL,
	[gender] [varchar](50) NULL,
	[tin] [varchar](50) NULL,
	[pre_addr] [varchar](50) NULL,
	[per_addr] [varchar](50) NULL,
	[create_date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_JV]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_JV](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[cus_code] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[legal_id] [varchar](50) NULL,
	[legal_doc_name] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_JV_CompanyInfo]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_JV_CompanyInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[t24_cus_id] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[phone] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_LoanNature]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_LoanNature](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loan_nature] [varchar](500) NULL,
	[loan_nature_short] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_OtherDocuments]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_OtherDocuments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[drawdown_id] [int] NULL,
	[doc_name] [varchar](500) NULL,
	[status] [varchar](50) NULL,
	[details] [varchar](500) NULL,
	[deadline] [varchar](50) NULL,
	[create_date] [datetime] NULL,
	[input_by] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Part]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Part](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[cus_code] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[legal_id] [varchar](50) NULL,
	[legal_doc_name] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Part_PartnerInfo]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Part_PartnerInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[phone] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Prop]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Prop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[cus_code] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[legal_id] [varchar](50) NULL,
	[legal_doc_name] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Prop_OwnerInfo]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Prop_OwnerInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[edoc_id] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[legal_id] [varchar](50) NULL,
	[legal_doc_name] [varchar](500) NULL,
	[phone] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Uploads]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Uploads](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NULL,
	[edoc_id] [varchar](50) NULL,
	[doc_id] [int] NULL,
	[file_name] [varchar](500) NULL,
	[upload_date_time] [datetime] NULL,
	[upload_by] [varchar](500) NULL,
	[upload_ip] [varchar](500) NULL,
	[drawdown_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Uploads_Customer]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Uploads_Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [varchar](500) NULL,
	[doc_id] [int] NULL,
	[required] [varchar](5) NULL,
	[status] [varchar](500) NULL,
	[reason] [varchar](500) NULL,
	[date] [datetime] NULL,
	[expiry] [datetime] NULL,
	[remarks] [varchar](500) NULL,
	[file_name] [varchar](500) NULL,
	[upload_date_time] [datetime] NULL,
	[upload_by] [varchar](500) NULL,
	[upload_ip] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Uploads_New]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Uploads_New](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NULL,
	[edoc_id] [varchar](50) NULL,
	[doc_id] [int] NULL,
	[file_name] [varchar](500) NULL,
	[upload_date_time] [datetime] NULL,
	[upload_by] [varchar](500) NULL,
	[upload_ip] [varchar](500) NULL,
	[drawdown_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_Uploads_Profile]    Script Date: 21/08/2026 10:03:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Uploads_Profile](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NULL,
	[doc_id] [int] NULL,
	[file_name] [varchar](500) NULL,
	[upload_date_time] [datetime] NULL,
	[upload_by] [varchar](500) NULL,
	[upload_ip] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
